
body{
    background: #F9F7F7;
}
.seller-info img{
    width:3rem;
    height:3rem;
    margin-left: 1rem;
}
.logout-icon{
    font-size: 2rem;
    margin-left:.5rem;
}
.sidebar{
    height: auto;
    background:#fff;
    box-shadow: 0 0 .3rem #DCDCDC;
    padding-bottom: 1.5rem;
}
.sidebar-item ul li{
    margin-bottom: 2.5rem;
}
.sidebar-item ul li a{
    color: #736363;
    font-size: 1.6rem
}
.sidebar-item ul li a i{
   padding-right: .5rem;
}
.overview-container {
    background: #fff;
    padding:1.5rem;
    box-shadow: 0 0 .3rem #DCDCDC;
}
.total-salse{
    background: #0F9FDC;
}
.dashboard-content h4{
    font-size: 2rem;
    font-weight: 500;
    color: #EDEDED;
}
.dashboard-content h6{
    font-size: 1.6rem;
}
.order-complete{
    background-color: #16901B;
}
.order-canceled{
    background-color: #C60707;
}
.total-review{
    background-color: #D3B200;
}
.new-orders{
    margin: 0 .5rem;
    background: #fff;
    padding:1.5rem;
    box-shadow: 0 0 .3rem #DCDCDC;
    text-align: center;
}
.new-orders span{
    font-size: 1.4rem;
    color: #000;
}
.canceled-orders span{
    font-size: 1.4rem;
    color: #F10505;
}
/*overrite event calendar font size css*/
#calendar table tr,th,td{
    font-size: 1.4rem;
}